<div id="create-loan-form" class="container">
            <div class="row">
                <h3 id="add-book-intend"> Create new loan</h3>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    <form class="form-group" role="form">
                        <div class="form-group">
                            <label for="loan-borrower-combo">Select an user:</label>
                            <select class="form-control" id="loan-borrower-combo" value="">
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="loan-book-combo">Select a book:</label>
                            <select class="form-control" id="loan-book-combo" value="">
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="form-group">
                                    <label for="loan-date">Date:</label>
                                    <input type="text" class="form-control" id="loan-date" placeholder="YYYYMMDD">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="loan_duration">For how long:</label>
                                    <input type="text" class="form-control" id="loan_duration" value="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    <p></p>
                </div>
            </div>
            <div class="row">
                <button id="loan-create" type="button" class="btn btn-success">Create Loan</button>
            </div>
        </div>
