body {
  margin-bottom: 60px;
}

#result-login-message {
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.create-book-result-message {
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#account-btn {
  color: #00ff00;
}

#book-update {
  margin-left: 15px;
}

.full-container {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#h3-page_title {
  color: #5CB85C;
  padding-left: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#modal-footer-span {
  float: left;
}

.modal-footer a {
  color: #449D44;
}

#book-create {
  margin-left: 15px;
  margin-top: 25px;
}

#add-book-intend {
  padding-left: 15px;
}

 #add-book-intend-btn {
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 40px;
 }

.footer {
  background-color: #11120e;
  position: absolute;
  margin: 10px 0px 0px 0px;
  width: 100%;
  height: 60px;/* Set the fixed height of the footer here */
}

.footer p {
  font: 12px "DroidSans", Arial, Helvetica, sans-serif;
  color: #666;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer a {
  color: #bdbdbd;
}

.footer a:hover, #footer a:focus {
  color: #fff;
}

.footer .copyright {
  float: left;
}

.footer .devby {
  float: right;
}

